.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 183px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 735px;
}

.u-section-2 .u-list-1 {
  margin-top: 63px;
  margin-bottom: 63px;
  min-height: 610px;
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1096px;
}

.u-section-3 .u-group-1 {
  width: 711px;
  min-height: 1084px;
  animation-duration: 1000ms;
  height: auto;
  margin: 60px 177px 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 9px 53px 0;
}

.u-section-3 .u-group-2 {
  width: 175px;
  background-image: none;
  min-height: 108px;
  margin: 41px auto 0 223px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 10px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 15px;
  height: 15px;
  margin: -18px auto 0 -7px;
}

.u-section-3 .u-group-3 {
  width: 175px;
  background-image: none;
  min-height: 108px;
  margin: -108px 46px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 10px auto 0;
}

.u-section-3 .u-shape-2 {
  width: 15px;
  height: 15px;
  background-image: none;
  margin: -22px auto 0 -7px;
}

.u-section-3 .u-image-1 {
  width: 231px;
  height: 62px;
  margin: -77px auto 0 -16px;
}

.u-section-3 .u-form-1 {
  height: 536px;
  margin: 64px 135px 0 0;
}

.u-section-3 .u-form-group-1 {
  margin-left: 0;
}

.u-section-3 .u-label-1 {
  font-weight: 700;
}

.u-section-3 .u-label-2 {
  font-weight: 700;
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

.u-section-3 .u-label-3 {
  font-weight: 700;
}

.u-section-3 .u-label-4 {
  font-weight: 700;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-label-5 {
  font-weight: 700;
}

.u-section-3 .u-label-6 {
  font-weight: 700;
}

.u-section-3 .u-form-group-6 {
  margin-left: 0;
}

.u-section-3 .u-label-7 {
  font-weight: 700;
}

.u-section-3 .u-form-group-7 {
  margin-left: 0;
}

.u-section-3 .u-label-8 {
  font-weight: 700;
}

.u-section-3 .u-form-group-8 {
  margin-left: 0;
}

.u-section-3 .u-label-9 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 570px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 252px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -210px;
    margin-right: auto;
    margin-left: 52px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 147px;
    margin-left: 52px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }

  .u-section-3 .u-group-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 52px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 30px;
  }

  .u-section-3 .u-form-1 {
    height: 452px;
    margin-right: 142px;
    margin-left: -7px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 42px;
  }

  .u-section-3 .u-group-2 {
    margin-left: 42px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 42px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 77px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 26px;
  }

  .u-section-3 .u-group-2 {
    margin-left: 26px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 26px;
  }

  .u-section-3 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 938px;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 45px 521px 0 105px;
}

.u-section-4 .u-image-1 {
  width: 159px;
  height: 76px;
  margin: -75px auto 0 859px;
}

.u-section-4 .u-text-3 {
  margin: 113px 521px 0 105px;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 210px;
  height: 175px;
  margin: -153px 103px 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 117px 521px 0 105px;
}

.u-section-4 .u-image-3 {
  width: 184px;
  height: 180px;
  margin: -152px 99px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 421px;
    margin-left: 5px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 781px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 422px;
    margin-left: 5px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 421px;
    margin-left: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 206px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-left: 561px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 206px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-right: 206px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 206px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 26px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 26px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 26px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 26px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 20px;
    margin-right: 26px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}
